<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoorRelayAPIKey</key>
	<string></string>
	<key>DoorRelayBaseURL</key>
	<string>https://ramoieeeufjf.dpdns.org</string>
	<key>DoorRelayDeviceID</key>
	<string>esp01</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Precisamos de acesso para salvar os eventos do Ramo na sua agenda.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Precisamos de acesso para salvar os eventos do Ramo na sua agenda.</string>
</dict>
</plist>
